################################
# Scriptlog Apache Settings
# .htaccess v1.0 2018
################################

############## Hide the following from the world ################
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|sql)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

ServerSignature Off
Options -Indexes

############### SET COOKIES DOMAIN ##################
# Use Mod_deflate to compress static files
<IfModule mod_deflate.c>
 <Filesmatch ".(js|css|ico|txt|htm|html|png|jpg|jpeg|gif|webp||js|eot|svg|ttf|woff|woff2|webm|ogg|mp4|wav|mp3|pdf)$">
 SetOutputFilter DEFLATE
 </Filesmatch>
</IfModule>

############### SET HTTP HEADER ##################
 <IfModule mod_headers.c>
 #These headers are also helpful in increasing security
 Header always set Permissions-Policy: interest-cohort=()
 Header set X-Content-Type-Options nosniff
 Header set X-XSS-Protection "1; mode=block"
 Header always append X-Frame-Options DENY
 #Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS
 Header set Connection keep-alive
 Header set Referrer-Policy "no-referrer-when-downgrade"
 <FilesMatch ".(js|css|ico|txt|htm|html|png|jpg|jpeg|webp|gif|js|eot|svg|ttf|woff|woff2|webm|ogg|mp4|wav|mp3|pdf|php|tpl)$">
  Header set Cache-Control "max-age=31536000, public"
 </FilesMatch>
</IfModule>

############## Write Friendly URL ################
<IfModule mod_rewrite.c>
# mod_rewrite rules
RewriteEngine On 

RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
RewriteRule .* – [F,L]

# The RewriteBase of the system (change if you are using this system in a sub-folder).
#RewriteBase /

# This will make the site only accessible without the "www." 
#RewriteCond %{HTTP_HOST} ^www\.yourdomain\.TLD$
#RewriteRule ^/?$ "https\:\/\/yourdomain\.TLD\/" [R=301, L]

# Ensure all front-end UI-UX files readable
RewriteCond %{REQUEST_FILENAME} !\.(ico|css|png|jpg|jpeg|webp|gif|js|txt|htm|html|eot|svg|ttf|woff|woff2|webm|ogg|mp4|wav|mp3|pdf)$ [NC]
RewriteRule ^public/.*$ index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l 
RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>


