{
    "openapi": "3.0.3",
    "info": {
        "title": "Blogware RESTful API",
        "description": "RESTful API for Blogware content management system.\n\nThis API provides programmatic access to blog posts, categories, comments, and archives.\nIt follows OpenAPI 3.0 specification and supports both public and authenticated operations.\n\n## Authentication\n\nThe API supports two authentication methods:\n- **API Key**: Pass your API key in the `X-API-Key` header\n- **Bearer Token**: Pass a bearer token in the `Authorization` header\n\nExample:\n```\nX-API-Key: your-api-key-here\n```\nor\n```\nAuthorization: Bearer your-token-here\n```\n\n## Rate Limiting\n\nAPI requests are rate limited to ensure fair usage and prevent abuse:\n\n| Endpoint Type | Limit | Window |\n|--------------|-------|--------|\n| **Read (GET)** | 60 requests | 60 seconds |\n| **Write (POST/PUT/DELETE/PATCH)** | 20 requests | 60 seconds |\n\nRate limits are tracked per client using API key, Bearer token, or IP address.\n\nThe following headers are included in all responses:\n- `X-RateLimit-Limit`: Maximum requests allowed per window\n- `X-RateLimit-Remaining`: Remaining requests in current window\n- `X-RateLimit-Reset`: Unix timestamp when the rate limit resets\n- `Retry-After`: Seconds to wait before retrying (only on 429 responses)\n\nExceeding the rate limit returns `429 Too Many Requests`.\n\n## HATEOAS (Hypermedia as the Engine of Application State)\n\nAll API responses include HATEOAS links following [RFC 5988 (Web Linking)](https://tools.ietf.org/html/rfc5988).\nEach response contains a `_links` object with discoverable navigation:\n\n```json\n{\n  \"success\": true,\n  \"status\": 200,\n  \"data\": { ... },\n  \"_links\": {\n    \"self\": { \"href\": \"...\", \"rel\": \"self\", \"type\": \"GET\" },\n    \"collection\": { \"href\": \"...\", \"rel\": \"collection\", \"type\": \"GET\" }\n  }\n}\n```\n\nCommon link relations: `self`, `collection`, `first`, `prev`, `next`, `last`, `canonical`, `comments`, `post`, `posts`, `year`, `search`, `service-desc`.\n\n## Caching and Conditional Requests\n\nGET responses are cacheable with ETag and Last-Modified headers:\n- **ETag**: Entity tag for cache validation\n- **Last-Modified**: Timestamp of last resource modification\n- **If-None-Match**: Client sends cached ETag to check for changes\n- **If-Modified-Since**: Client sends cached timestamp\n- **304 Not Modified**: Response when resource hasn't changed\n\nCache-Control headers vary by HTTP method:\n- **GET**: `public, max-age=300` (cacheable for 5 minutes)\n- **POST/PUT/DELETE/PATCH**: `no-store` (never cache)\n- **4xx errors**: `no-cache, no-store, must-revalidate`\n\n## Content Negotiation\n\nThe API supports `Accept` header validation. Requests with unsupported media types receive `406 Not Acceptable`. Currently only `application/json` is supported.\n\n## Response Format\n\nAll responses are returned in JSON format with the following structure:\n\n### Success Response\n```json\n{\n  \"success\": true,\n  \"status\": 200,\n  \"message\": \"Operation description\",\n  \"data\": { ... }\n}\n```\n\n### Paginated Response\n```json\n{\n  \"success\": true,\n  \"status\": 200,\n  \"data\": [...],\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 10,\n    \"total_items\": 50,\n    \"total_pages\": 5,\n    \"has_next_page\": true,\n    \"has_previous_page\": false\n  }\n}\n```\n\n### Error Response\n```json\n{\n  \"success\": false,\n  \"status\": 400,\n  \"error\": {\n    \"code\": \"BAD_REQUEST\",\n    \"message\": \"Error description\"\n  }\n}\n```\n\n## Filtering and Sorting\n\nQuery parameters for filtering and sorting:\n- `page`: Page number (default: 1)\n- `per_page`: Items per page (default: 10, max: 100)\n- `sort_by`: Field to sort by\n- `sort_order`: Sort direction (ASC or DESC)\n",
        "version": "1.1.1",
        "contact": {
            "name": "Blogware Support",
            "email": "alanmoehammad@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "x-logo": {
            "url": "https://blogware.site/public/files/pictures/logo.png"
        }
    },
    "servers": [
        {
            "url": "http://blogware.site/api/v1",
            "description": "Production server"
        },
        {
            "url": "http://localhost/blogware/public_html/api/v1",
            "description": "Development server"
        }
    ],
    "tags": [
        {
            "name": "Posts",
            "description": "Blog posts operations"
        },
        {
            "name": "Categories",
            "description": "Category/topic operations"
        },
        {
            "name": "Comments",
            "description": "Comment operations"
        },
        {
            "name": "Archives",
            "description": "Archive by date operations"
        },
        {
            "name": "Search",
            "description": "Search operations"
        },
        {
            "name": "GDPR",
            "description": "GDPR consent operations"
        },
        {
            "name": "Languages",
            "description": "Internationalization languages"
        },
        {
            "name": "Translations",
            "description": "Internationalization translations"
        },
        {
            "name": "Media",
            "description": "Media upload operations"
        },
        {
            "name": "API Info",
            "description": "API information and metadata"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "API Info"
                ],
                "summary": "Get API information",
                "description": "Returns API metadata, available endpoints, and usage information",
                "operationId": "getApiInfo",
                "responses": {
                    "200": {
                        "description": "API information retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiInfo"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                }
            }
        },
        "/posts": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "List published posts",
                "description": "Retrieves a paginated list of published blog posts.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "listPosts",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    },
                    {
                        "$ref": "#/components/parameters/SortBy"
                    },
                    {
                        "$ref": "#/components/parameters/SortOrder"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Posts retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostListResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                }
            },
            "post": {
                "tags": [
                    "Posts"
                ],
                "summary": "Create a new post",
                "description": "Creates a new blog post.\nRequires authentication with administrator, editor, or author permissions.\n",
                "operationId": "createPost",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Post created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/posts/{id}": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get a single post",
                "description": "Retrieves a single blog post by its ID.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "getPost",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PostId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Post retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDetailResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "put": {
                "tags": [
                    "Posts"
                ],
                "summary": "Update a post",
                "description": "Updates an existing blog post.\nRequires authentication with administrator or editor permissions.\n",
                "operationId": "updatePost",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PostId"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Post updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Posts"
                ],
                "summary": "Delete a post",
                "description": "Deletes a blog post.\nRequires authentication with administrator permissions.\n",
                "operationId": "deletePost",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PostId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Post deleted successfully (no content)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Posts"
                ],
                "summary": "Partially update a post",
                "description": "Partially updates an existing blog post. Only send the fields you want to change.\nRequires authentication with administrator or editor permissions.\n",
                "operationId": "patchPost",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PostId"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Post updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/posts/{id}/comments": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get comments for a post",
                "description": "Retrieves approved comments for a specific blog post.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "getPostComments",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PostId"
                    },
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comments retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/posts/{id}/verify": {
            "post": {
                "tags": [
                    "Posts"
                ],
                "summary": "Verify protected post password",
                "description": "Verifies the password for a password-protected post without returning content.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "verifyProtectedPost",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PostId"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProtectedPostVerify"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password verified successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProtectedPostVerifyResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                }
            }
        },
        "/posts/{id}/unlock": {
            "post": {
                "tags": [
                    "Posts"
                ],
                "summary": "Unlock protected post content",
                "description": "Verifies password and returns decrypted content for a password-protected post.\nThis endpoint is public and does not require authentication.\nRate limited to prevent brute force attacks.\n",
                "operationId": "unlockProtectedPost",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PostId"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProtectedPostVerify"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Post unlocked successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProtectedPostUnlockResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "List all categories",
                "description": "Retrieves a paginated list of all categories/topics.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "listCategories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    },
                    {
                        "$ref": "#/components/parameters/SortBy"
                    },
                    {
                        "$ref": "#/components/parameters/SortOrder"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categories retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryListResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Create a new category",
                "description": "Creates a new category/topic.\nRequires authentication with administrator or editor permissions.\n",
                "operationId": "createCategory",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Category created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get a single category",
                "description": "Retrieves a single category/topic by its ID.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "getCategory",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CategoryId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Update a category",
                "description": "Updates an existing category/topic.\nRequires authentication with administrator or editor permissions.\n",
                "operationId": "updateCategory",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CategoryId"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Delete a category",
                "description": "Deletes a category/topic.\nRequires authentication with administrator permissions.\n",
                "operationId": "deleteCategory",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CategoryId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Category deleted successfully (no content)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Categories"
                ],
                "summary": "Partially update a category",
                "description": "Partially updates an existing category/topic. Only send the fields you want to change.\nRequires authentication with administrator or editor permissions.\n",
                "operationId": "patchCategory",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CategoryId"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/categories/{id}/posts": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get posts in a category",
                "description": "Retrieves posts belonging to a specific category.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "getCategoryPosts",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CategoryId"
                    },
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    },
                    {
                        "$ref": "#/components/parameters/SortBy"
                    },
                    {
                        "$ref": "#/components/parameters/SortOrder"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Posts retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryPostsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/comments": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "List all approved comments",
                "description": "Retrieves a paginated list of approved comments.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "listComments",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    },
                    {
                        "$ref": "#/components/parameters/SortBy"
                    },
                    {
                        "$ref": "#/components/parameters/SortOrder"
                    },
                    {
                        "name": "post_id",
                        "in": "query",
                        "description": "Filter comments by post ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comments retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentListResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Create a new comment",
                "description": "Creates a new comment on a blog post.\nThis endpoint is public and does not require authentication.\nComments are submitted with 'pending' status for moderation.\n",
                "operationId": "createComment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommentCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Comment created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/comments/{id}": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Get a single comment",
                "description": "Retrieves a single comment by its ID.\nThis endpoint is public for approved comments.\n",
                "operationId": "getComment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CommentId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comment retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "put": {
                "tags": [
                    "Comments"
                ],
                "summary": "Update a comment",
                "description": "Updates an existing comment.\nRequires authentication with administrator or editor permissions.\n",
                "operationId": "updateComment",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CommentId"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommentUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Comment updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Comments"
                ],
                "summary": "Delete a comment",
                "description": "Deletes a comment.\nRequires authentication with administrator or editor permissions.\n",
                "operationId": "deleteComment",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CommentId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Comment deleted successfully (no content)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Comments"
                ],
                "summary": "Partially update a comment",
                "description": "Partially updates an existing comment. Only send the fields you want to change.\nRequires authentication with administrator or editor permissions.\n",
                "operationId": "patchComment",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/CommentId"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommentUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Comment updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/archives": {
            "get": {
                "tags": [
                    "Archives"
                ],
                "summary": "List available archive dates",
                "description": "Returns a list of years and months that have published posts.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "listArchives",
                "responses": {
                    "200": {
                        "description": "Archives retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ArchiveListResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/archives/{year}": {
            "get": {
                "tags": [
                    "Archives"
                ],
                "summary": "Get posts from a specific year",
                "description": "Retrieves posts published in a specific year.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "getArchiveYear",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "Year (e.g., 2024)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1900,
                            "maximum": 2030,
                            "example": 2024
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    },
                    {
                        "$ref": "#/components/parameters/SortBy"
                    },
                    {
                        "$ref": "#/components/parameters/SortOrder"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Posts retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ArchiveYearResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/archives/{year}/{month}": {
            "get": {
                "tags": [
                    "Archives"
                ],
                "summary": "Get posts from a specific month",
                "description": "Retrieves posts published in a specific month and year.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "getArchiveMonth",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "Year (e.g., 2024)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1900,
                            "maximum": 2030,
                            "example": 2024
                        }
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "description": "Month (1-12)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 12,
                            "example": 6
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    },
                    {
                        "$ref": "#/components/parameters/SortBy"
                    },
                    {
                        "$ref": "#/components/parameters/SortOrder"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Posts retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ArchiveMonthResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/search": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Search all content",
                "description": "Searches posts and pages for the given keyword.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "searchAll",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search keyword",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 100
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search results retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                }
            }
        },
        "/search/posts": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Search posts only",
                "description": "Searches only posts for the given keyword.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "searchPosts",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search keyword",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 100
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search results retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                }
            }
        },
        "/search/pages": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Search pages only",
                "description": "Searches only pages for the given keyword.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "searchPages",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search keyword",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 100
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search results retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                }
            }
        },
        "/gdpr/consent": {
            "get": {
                "tags": [
                    "GDPR"
                ],
                "summary": "Get GDPR consent status",
                "description": "Retrieves the current user's GDPR consent status.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "getConsentStatus",
                "responses": {
                    "200": {
                        "description": "Consent status retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GdprConsentResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "GDPR"
                ],
                "summary": "Submit GDPR consent",
                "description": "Submits GDPR consent preferences.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "submitConsent",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GdprConsent"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Consent submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                }
            }
        },
        "/languages": {
            "get": {
                "tags": [
                    "Languages"
                ],
                "summary": "List all languages",
                "description": "Retrieves a list of all available languages.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "listLanguages",
                "responses": {
                    "200": {
                        "description": "Languages retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LanguageListResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Languages"
                ],
                "summary": "Create a new language",
                "description": "Creates a new language for internationalization.\nRequires authentication with administrator permissions.\n",
                "operationId": "createLanguage",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LanguageCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Language created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LanguageResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    }
                }
            }
        },
        "/languages/active": {
            "get": {
                "tags": [
                    "Languages"
                ],
                "summary": "List active languages",
                "description": "Retrieves only active languages.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "listActiveLanguages",
                "responses": {
                    "200": {
                        "description": "Active languages retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LanguageListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/languages/{code}": {
            "get": {
                "tags": [
                    "Languages"
                ],
                "summary": "Get a single language",
                "description": "Retrieves a single language by its code.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "getLanguage",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Language code (e.g., en, ar, zh)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Language retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LanguageResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "put": {
                "tags": [
                    "Languages"
                ],
                "summary": "Update a language",
                "description": "Updates an existing language.\nRequires authentication with administrator permissions.\n",
                "operationId": "updateLanguage",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Language code (e.g., en, ar, zh)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LanguageUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Language updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LanguageResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Languages"
                ],
                "summary": "Delete a language",
                "description": "Deletes a language.\nRequires authentication with administrator permissions.\n",
                "operationId": "deleteLanguage",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Language code (e.g., en, ar, zh)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Language deleted successfully (no content)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/languages/default": {
            "get": {
                "tags": [
                    "Languages"
                ],
                "summary": "Get default language",
                "description": "Retrieves the default language.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "getDefaultLanguage",
                "responses": {
                    "200": {
                        "description": "Default language retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LanguageResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Languages"
                ],
                "summary": "Set default language",
                "description": "Sets a language as the default.\nRequires authentication with administrator permissions.\n",
                "operationId": "setDefaultLanguage",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Language code (e.g., en, ar, zh)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Default language set successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LanguageResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/translations/{code}": {
            "get": {
                "tags": [
                    "Translations"
                ],
                "summary": "List translations for a language",
                "description": "Retrieves translations for a specific language.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "listTranslations",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Language code (e.g., en, ar, zh)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/PerPage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Translations retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TranslationListResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Translations"
                ],
                "summary": "Create a translation",
                "description": "Creates a new translation entry.\nRequires authentication with administrator permissions.\n",
                "operationId": "createTranslation",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Language code (e.g., en, ar, zh)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TranslationCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Translation created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TranslationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    }
                }
            }
        },
        "/translations/{code}/{key}": {
            "get": {
                "tags": [
                    "Translations"
                ],
                "summary": "Get a single translation",
                "description": "Retrieves a single translation by key.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "getTranslation",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Language code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "Translation key",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "nav.dashboard"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Translation retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TranslationResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/translations/{id}": {
            "put": {
                "tags": [
                    "Translations"
                ],
                "summary": "Update a translation",
                "description": "Updates an existing translation by ID.\nRequires authentication with administrator permissions.\n",
                "operationId": "updateTranslation",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Translation ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TranslationUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Translation updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TranslationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Translations"
                ],
                "summary": "Delete a translation",
                "description": "Deletes a translation by ID.\nRequires authentication with administrator permissions.\n",
                "operationId": "deleteTranslation",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Translation ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Translation deleted successfully (no content)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/translations/{code}/export": {
            "get": {
                "tags": [
                    "Translations"
                ],
                "summary": "Export translations",
                "description": "Exports translations for a language as JSON.\nThis endpoint is public and does not require authentication.\n",
                "operationId": "exportTranslations",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Language code (e.g., en, ar, zh)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Translations exported successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/translations/{code}/import": {
            "post": {
                "tags": [
                    "Translations"
                ],
                "summary": "Import translations",
                "description": "Imports translations from JSON.\nRequires authentication with administrator permissions.\n",
                "operationId": "importTranslations",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Language code (e.g., en, ar, zh)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Translations imported successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/translations/{code}/cache": {
            "post": {
                "tags": [
                    "Translations"
                ],
                "summary": "Regenerate translation cache",
                "description": "Regenerates the translation cache for a language.\nRequires authentication with administrator permissions.\n",
                "operationId": "regenerateCache",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Language code (e.g., en, ar, zh)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cache regenerated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/media/upload": {
            "post": {
                "tags": [
                    "Media"
                ],
                "summary": "Upload media file",
                "description": "Uploads an image file for use in posts.\nRequires admin authentication.\n",
                "operationId": "uploadMedia",
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/MediaUpload"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Media uploaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MediaUploadResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "API key authentication. Pass your API key in the X-API-Key header.\n"
            },
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Bearer token authentication. Pass your bearer token in the Authorization header.\n"
            }
        },
        "parameters": {
            "Page": {
                "name": "page",
                "in": "query",
                "description": "Page number for pagination",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1,
                    "example": 1
                }
            },
            "PerPage": {
                "name": "per_page",
                "in": "query",
                "description": "Number of items per page",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10,
                    "example": 10
                }
            },
            "SortBy": {
                "name": "sort_by",
                "in": "query",
                "description": "Field to sort by",
                "required": false,
                "schema": {
                    "type": "string",
                    "default": "ID",
                    "enum": [
                        "ID",
                        "post_date",
                        "post_modified",
                        "post_title",
                        "topic_title",
                        "comment_date"
                    ]
                }
            },
            "SortOrder": {
                "name": "sort_order",
                "in": "query",
                "description": "Sort direction",
                "required": false,
                "schema": {
                    "type": "string",
                    "enum": [
                        "ASC",
                        "DESC"
                    ],
                    "default": "DESC"
                }
            },
            "PostId": {
                "name": "id",
                "in": "path",
                "description": "Post ID",
                "required": true,
                "schema": {
                    "type": "integer",
                    "example": 1
                }
            },
            "CategoryId": {
                "name": "id",
                "in": "path",
                "description": "Category ID",
                "required": true,
                "schema": {
                    "type": "integer",
                    "example": 1
                }
            },
            "CommentId": {
                "name": "id",
                "in": "path",
                "description": "Comment ID",
                "required": true,
                "schema": {
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "schemas": {
            "Error": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "status": {
                        "type": "integer",
                        "example": 400
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string",
                                "example": "BAD_REQUEST"
                            },
                            "message": {
                                "type": "string",
                                "example": "Error description"
                            },
                            "details": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "field": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "SuccessResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "message": {
                        "type": "string",
                        "example": "Operation successful"
                    },
                    "data": {
                        "type": "object"
                    },
                    "_links": {
                        "$ref": "#/components/schemas/Links"
                    }
                }
            },
            "Post": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "title": {
                        "type": "string",
                        "example": "My First Blog Post"
                    },
                    "slug": {
                        "type": "string",
                        "example": "my-first-blog-post"
                    },
                    "content": {
                        "type": "string",
                        "example": "Full post content here..."
                    },
                    "summary": {
                        "type": "string",
                        "nullable": true,
                        "example": "Post summary for preview"
                    },
                    "excerpt": {
                        "type": "string",
                        "example": "Generated excerpt..."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "publish",
                            "draft",
                            "pending",
                            "private"
                        ],
                        "example": "publish"
                    },
                    "visibility": {
                        "type": "string",
                        "enum": [
                            "public",
                            "private",
                            "protected"
                        ],
                        "example": "public"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "php",
                            "rest-api"
                        ]
                    },
                    "comment_status": {
                        "type": "string",
                        "enum": [
                            "open",
                            "closed"
                        ],
                        "example": "open"
                    },
                    "type": {
                        "type": "string",
                        "example": "blog"
                    },
                    "author": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": 1
                            },
                            "login": {
                                "type": "string",
                                "example": "admin"
                            },
                            "name": {
                                "type": "string",
                                "example": "Administrator"
                            }
                        }
                    },
                    "date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-01-15 10:30:00"
                    },
                    "modified": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "example": "2024-01-15 14:20:00"
                    },
                    "url": {
                        "type": "string",
                        "example": "http://blogware.site/post/1/my-first-blog-post"
                    }
                }
            },
            "PostCreate": {
                "type": "object",
                "required": [
                    "post_title",
                    "post_content"
                ],
                "properties": {
                    "post_title": {
                        "type": "string",
                        "maxLength": 200,
                        "example": "My First Blog Post"
                    },
                    "post_content": {
                        "type": "string",
                        "example": "Full post content here..."
                    },
                    "post_summary": {
                        "type": "string",
                        "maxLength": 320,
                        "nullable": true,
                        "example": "Post summary"
                    },
                    "post_status": {
                        "type": "string",
                        "enum": [
                            "publish",
                            "draft"
                        ],
                        "default": "draft"
                    },
                    "post_visibility": {
                        "type": "string",
                        "enum": [
                            "public",
[...]
